.footer {
  display: flex;
  justify-content: space-evenly;
  color: #FFFFFF;
  background-color: #242429;

  & > div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    & > div,p {
      margin: 15px 0;
    }
    p {
      font-size: 14px;
      line-height: 18px;
      font-family:"Microsoft YaHei";
    }
  }

  .icon {
    margin-left: 150px;
    margin-right: 300px;
  }

  .contact {
    & svg {
      position: relative;
      top: 1px;
    }

    & span {
      margin-left: 20px;
      font-size: 18px;
    }
  }

  .communication {
    & svg {
      position: relative;
      top: 3px;
    }

    .title_text{
      margin-left: 20px;
      font-size: 18px;
    }
    ul{
      display: flex;
      list-style: none;
      padding-left: 0;

      li{
        a{
          font-family:"Microsoft YaHei";
          text-decoration: none;
          font-size: 12px;
          display: flex;
          color: #9b9b9b;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin-right: 30px;

          span{
            margin-top: 10px;
          }
        }
      }
      li:hover{
        cursor: pointer;
      }
    }
  }
}
